<?xml version="1.0" encoding="UTF-8"?>

<settings> 
  <general> 
    <version>1.0</version>  
    <userAgent>PC</userAgent>  
    <readTimeout>15000</readTimeout>  
    <connectionTimeout>10000</connectionTimeout>  
    <cssPath>css</cssPath>  
    <mediaPath>media</mediaPath>  
    <jsPath>js</jsPath>  
    <markdown>GITHUB</markdown>  
    <threads>8</threads> 
  </general>  
  <ui>
    <lookAndFeel>WebLookAndFeel</lookAndFeel>
  </ui>
</settings>
