<?xml version="1.0" encoding="UTF-8"?>

<settings> 
  <general> 
    <version>0.0.1</version>  
    <userAgent>UC</userAgent>  
    <readTimeout>15000</readTimeout>  
    <connectionTimeout>10100</connectionTimeout>  
    <cssPath>css</cssPath>  
    <mediaPath>media</mediaPath>  
    <jsPath>js</jsPath>  
    <markdown>MARKDOWN</markdown>  
    <threads>8</threads> 
  </general>  
  <ui>
    <lookAndFeel>Nimbus</lookAndFeel>
  </ui>
</settings>
